<template>
  <div>
    <section>
      <base-card>
        <h2>Register a new coach</h2>
        <coach-form @save-data="onSaveData"></coach-form>
      </base-card>
    </section>
  </div>
</template>

<script>
import CoachForm from '../../components/coaches/CoachForm.vue';
export default {
  components: { CoachForm },
  methods: {
    onSaveData(data) {
      this.$store.dispatch('coaches/registerCoach', {
        ...data,
        forceRefresh: true
      });
      this.$router.replace('/coaches');
    }
  }
};
</script>

<style scoped></style>
