<template>
  <div v-if="selectedCoach">
    <section>
      <base-card>
        <h2>{{ fullName }}</h2>
        <h3>${{ rate }}/hour</h3>
      </base-card>
    </section>

    <section>
      <base-card v-if="showContact">
        <h2>Interested? Reach out now</h2>
        <base-button link :to="contactLink">Contact</base-button>
      </base-card>
      <router-view v-else></router-view>
    </section>

    <section>
      <base-card>
        <base-badge
          v-for="area in areas"
          :key="area.id"
          :type="area"
          :text="area"
        >
        </base-badge>
        <p>{{ description }}</p>
      </base-card>
    </section>
  </div>
</template>

<script>
export default {
  props: ['id'],
  data() {
    return {
      selectedCoach: null
    };
  },
  created() {
    this.setCoach();
  },
  computed: {
    fullName() {
      return this.selectedCoach.firstName + ' ' + this.selectedCoach.lastName;
    },
    areas() {
      return this.selectedCoach.areas;
    },
    rate() {
      return this.selectedCoach.hourlyRate;
    },
    description() {
      return this.selectedCoach.description;
    },
    contactLink() {
      return this.$route.path + '/contact';
    },
    showContact() {
      return !this.$route.path.match(/contact/); 
    }

  },
  methods: {
    async setCoach() {
      const id = this.id || this.$route.params.id;
      await this.$store.dispatch('coaches/loadCoaches');

      this.selectedCoach = this.$store.getters['coaches/coaches'].find(
        c => c.id === id
      );
    }
  }
};
</script>

<style scoped></style>
