<template>
  <div>
    <base-dialog :show="!!error" title="Error Occure" @close="handlerError">
      <p>
        {{ error }}
      </p>
    </base-dialog>

    <section>
      <coach-filter @change-filter="setFilter"></coach-filter>
    </section>

    <section>
      <base-card>
        <div class="controls">
          <base-button mode="outline" @click="loadCoaches(true)"
            >Refresh</base-button
          >
          <base-button v-if="!isLoading && !isCoach && isAuthenticated" link to="/register"
            >Register</base-button
          >
           <base-button v-if="!isAuthenticated" link to="/auth?redirect=register"
            >Login / SignIn</base-button
          >
        </div>

        <base-spinner v-if="isLoading"></base-spinner>
        <ul v-else-if="hasCoaches">
          <coach-item
            v-for="coach in filteredCoaches"
            :key="coach.id"
            :id="coach.id"
            :firstName="coach.firstName"
            :lastName="coach.lastName"
            :rate="coach.hourlyRate"
            :areas="coach.areas"
          >
          </coach-item>
        </ul>
        <h3 v-else>No coaches found.</h3>
      </base-card>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import CoachFilter from '../../components/coaches/CoachFilter.vue';
import CoachItem from '../../components/coaches/CoachItem.vue';
export default {
  components: { CoachItem, CoachFilter },
  data() {
    return {
      isLoading: false,
      error: null,
      filters: {
        frontend: true,
        backend: true,
        career: true
      }
    };
  },
  computed: {
    filteredCoaches() {
      const coaches = this.$store.getters['coaches/coaches'];
      const filterCoaches = coaches.filter(c => {
        if (this.filters.frontend && c.areas && c.areas.includes('frontend')) {
          return true;
        }
        if (this.filters.backend && c.areas && c.areas.includes('backend')) {
          return true;
        }
        if (this.filters.career && c.areas && c.areas.includes('career')) {
          return true;
        }
      });
      return filterCoaches;
    },
    ...mapGetters('coaches', ['hasCoaches', 'isCoach']),
    ...mapGetters(['isAuthenticated'])
    
  },
  methods: {
    setFilter(updatedFilters) {
      this.filters = updatedFilters;
    },
    async loadCoaches(forceRefresh = false) {
      this.isLoading = true;
      try {
        await this.$store.dispatch('coaches/loadCoaches', {
          forceRefresh: forceRefresh
        });
      } catch (error) {
        this.error = error.message || 'Default error...';
      }
      this.isLoading = false;
    },
    handlerError() {
      this.error = null;
    }
  },
  created() {
    this.loadCoaches();
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>
