<template>
  <ul>
    <li :class="{ activate: modelValue === 'poor' }">
      <button type="button" @click="setActivateOption('poor')">Poor</button>
    </li>
    <li :class="{ activate: modelValue === 'average' }">
      <button type="button" @click="setActivateOption('average')">
        Average
      </button>
    </li>
    <li :class="{ activate: modelValue === 'great' }">
      <button type="button" @click="setActivateOption('great')">Great</button>
    </li>
  </ul>
</template>
<script>
export default {
  props: ['modelValue'],
  emits: ['update:modelValue'],
  methods: {
    setActivateOption(option) {
      this.$emit('update:modelValue', option);
    }
  }
};
</script>
<style scoped>
.activate {
  border-color: blueviolet;
}
ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
</style>
