<template>
  <button @click="saveChange">Change</button>
  <ul>
    <user-item
      v-for="user in users"
      :key="user.id"
      :name="user.fullName"
      :role="user.role"
    ></user-item>
  </ul>
</template>

<script>
import UserItem from '../../components/users/UserItem.vue';

export default {
  components: {
    UserItem
  },
  inject: ['users'],
  data() {
    return {
      changedSaved: false
    };
  },
  methods: {
    saveChange() {
      this.changedSaved = true;
    }
  },
  beforeRouteEnter(to, from, next) {
    console.log('UserList cpt : beforeRouteEnter');
    console.log(to, from);
    next();
  },
  beforeRouteLeave(to, from, next) {
    console.log('UserList cpt : beforeRouteLeave');
    console.log(to, from);
    if (this.changedSaved) {
      next(this.changedSaved);
    } else {
      const userWantsToleave = confirm('Confirm to leave the page ?')
      next(userWantsToleave);
    }
  },
  unmouted() {
    console.log('unmonted');
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 2rem auto;
  max-width: 20rem;
  padding: 0;
}
</style>
