<template>
  <h2>
    {{ title }} / {{ dataRefs_title }} / {{ dataReactive.title }} /
    {{ old_title }}
  </h2>
  <!-- Task 1: Output your main course goal with help of the composition API -->
  <!-- Don't hardcode it into the template, instead hardcode it into the JS code -->
  <h3 v-show="isVisible">OUTPUT COURSE GOAL (refs)</h3>
  <h3 v-show="dataRefs_isVisible">OUTPUT COURSE GOAL (toRefs)</h3>
  <h3 v-show="dataReactive.isVisible">OUTPUT COURSE GOAL (reactive)</h3>
  <!-- Task 2: Toggle (show/ hide) the goal with help of the button  -->
  <button @click="onToogle">Toggle Goal</button>
  <!-- Task 3: Manage data in three ways -->
  <!-- => Separate refs -->
  <!-- => Ref Object -->
  <!-- => Reactive Object -->
  <!-- Task 4: Also solve the assignment with the Options API -->
  <h3 v-show="old_isVisible">OUTPUT COURSE GOAL (old)</h3>
  <button @click="oldToogle">Toggle Goal Old</button>
</template>

<script>
import { ref, reactive, toRefs } from 'vue';
export default {
  setup() {
    const title = ref('My Course Goal ref');
    const isVisible = ref(false);

    const dataRefs = toRefs(
      reactive({
        title: 'My Course Goal toRefs',
        isVisible: false
      })
    );

    const dataReactive = reactive({
      title: 'My Course Goal Reactive',
      isVisible: false
    });

    function onToogle() {
      isVisible.value = !isVisible.value;
      dataRefs.isVisible.value = !dataRefs.isVisible.value;
      dataReactive.isVisible = !dataReactive.isVisible;
    }
    return {
      title,
      isVisible,
      dataReactive,
      dataRefs_isVisible: dataRefs.isVisible,
      dataRefs_title: dataRefs.title,
      onToogle
    };
  },
  data() {
    return {
      old_isVisible: false,
      old_title: 'My Cours Goal (old)'
    };
  },
  methods: {
    oldToogle() {
      this.old_isVisible = !this.old_isVisible;
    }
  }
};
</script>

<style>
html {
  font-family: sans-serif;
}
body {
  margin: 3rem;
  text-align: center;
}
</style>
