<template>
  <li>
    <h2>{{ friend.isFavorite ? "*" : "" }}{{ friend.name }}</h2>
    <button @click="toggleDetails">{{ detailsAreVisible ? "Hide" : "Show" }} Details</button>
    <button @click="changeFavorite">{{ isFavorite === "true" ? "Love" : "beurk" }} {{ isFavorite }}</button>
    <ul v-if="detailsAreVisible">
      <li>
        <strong>Phone:</strong>
        {{ friend.phone + " / " + friend.phone }}
      </li>
      <li>
        <strong>Email:</strong>
        {{ emailAdress + " / " + friend.email }}
      </li>
      <button @click="$emit('delete', this.id)">Delete</button>
    </ul>
  </li>
</template>

<script>
export default {
  //props: ['isFavorite', "name", "phoneNumber", "emailAdress"],
  props: {
    id: String,
    name: {
      type: String,
      required: true,
    },
    phoneNumber: {
      type: String,
      required: true,
    },
    emailAdress: {
      type: String,
      required: true,
    },
    isFavoriteWithValidation: {
      type: String,
      required: false,
      default: "0",
      validator: function(value) {
        return value === "1" || value === "0";
      },
    },
    isFavorite: {
      type: Boolean,
      required: false,
      default: false,
    },
    friend: Object,
  },
  //emits:['change-favorite'],
  emits: {
    "change-favorite": function(id) {
      if (id) {
        return true;
      } else {
        console.warn("id is missing");
        return false;
      }
    },
    "delete":true
  },
  data() {
    return {
      detailsAreVisible: false,
    };
  },
  methods: {
    toggleDetails() {
      this.detailsAreVisible = !this.detailsAreVisible;
    },
    changeFavorite() {
      // mutation props =>  this.isFavorite = !this.isFavorite;
      this.$emit("change-favorite", this.id);
    },
  },
};
</script>
