<template>
  <form @submit.prevent="addContact">
    <div>
      <label> Name</label>
      <input type="text" v-model="name" />
    </div>
    <div>
      <label> Phone</label>
      <input type="tel" v-model="phone" />
    </div>
    <div>
      <label> Email</label>
      <input type="email" v-model="email" />
    </div>
    <button type='submit'>Add Friend</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      name: "",
      phone: "0443434",
      email: "@xxx.com",
    };
  },
  emit: ["add-contact"],
  methods: {
    addContact() {
      this.$emit("add-contact", this.name, this.phone, this.email);
    },
  },
};
</script>
