<template>
  <base-card>
    <form @submit.prevent="createResource">
      <div class="form-control">
        <label for="title">Title</label>
        <input name="title" ref="title" />
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <textarea rows="3" name="description" ref="description" />
      </div>

      <div class="form-control">
        <label for="link">Link</label>
        <input name="link" ref="link" />
      </div>

      <base-button type="submit">Add Resource</base-button>
    </form>
    
      <base-dialog
        v-if="inputsInvalid"
        title="Invalid inputs"
        @close="closeDialog"
      >
        <template #default>
          inputs invalid
          <p>check your inputs</p>
        </template>
        <template #actions>
          <base-button @click="closeDialog">
            Okay
          </base-button>
        </template>
      </base-dialog>
  </base-card>
</template>

<script>
import BaseDialog from './UI/BaseDialog.vue';
export default {
  components: { BaseDialog },
  inject: ['addResource'],
  data() {
    return {
      inputsInvalid: false
    };
  },
  methods: {
    createResource() {
      const enteredTitle = this.$refs.title.value;
      const enteredDescription = this.$refs.description.value;
      const enteredLink = this.$refs.link.value;
      // validation
      if (
        enteredTitle.trim() === '' ||
        enteredDescription.trim() === '' ||
        enteredLink.trim() === ''
      ) {
        this.inputsInvalid = true;
        return;
      } else {
        this.inputsInvalid = false;
      }

      //save
      this.addResource(enteredTitle, enteredDescription, enteredLink);
    },
    closeDialog() {
      this.inputsInvalid = false;
    }
  }
};
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>
