<template>
  <base-card>
    <base-button
      :mode="storedResourcesMode"
      @click="setSelectTab('stored-resources')"
    >
      Stored Resources
    </base-button>
    <base-button :mode="addResourceMode" @click="setSelectTab('add-resource')">
      Add Resource
    </base-button>
  </base-card>
  <keep-alive>
    <component :is="selectedTab"> </component>
  </keep-alive>
</template>

<script>
import StoredResources from './StoredResources.vue';
import AddResource from './AddResource.vue';
export default {
  components: {
    AddResource,
    StoredResources
  },
  computed: {
    addResourceMode() {
      return this.getMode('add-resource');
    },
    storedResourcesMode() {
      return this.getMode('stored-resources');
    }
  },
  data() {
    return {
      selectedTab: 'stored-resources',
      storedResources: [
        {
          id: 'official-guide',
          title: 'Official Guide',
          description: 'the official vue.Js doc',
          link: 'https://vuejs.org'
        },
        {
          id: 'google',
          title: 'Google Search',
          description: 'How to googe search',
          link: 'https://google.com'
        }
      ]
    };
  },
  methods: {
    setSelectTab(tab) {
      this.selectedTab = tab;
    },
    getMode(tab) {
      return this.selectedTab === tab ? null : 'flat';
    },
    addResource(title, description, link) {
      const newResource = {
        id: new Date().toISOString(),
        title: title,
        description: description,
        link: link
      };
      this.storedResources.unshift(newResource);
      this.selectedTab = 'stored-resources';
    },
    deleteResource(id) {
      const index = this.storedResources.findIndex(r => r.id !== id);
      this.storedResources.splice(index, 1);
      this.selectedTab = 'stored-resources';
    }
  },
  provide() {
    return {
      resources: this.storedResources,
      addResource: this.addResource,
      deleteResource : this.deleteResource,
    };
  }
};
</script>
