<template>
  <div>
    <base-dialog :show="!!error" title="Error Occure" @close="handlerError">
      <p>
        {{ error }}
      </p>
    </base-dialog>

    <base-dialog :show="isLoading" fixed>
      <base-spinner></base-spinner>
    </base-dialog>

    <base-card>
      <form @submit.prevent="onLogin">
        <div class="form-control">
          <label for="email">Email</label>
          <input name="email" type="email" autocomplete v-model.trim="email" />
        </div>
        <div class="form-control">
          <label for="password">Password</label>
          <input
            name="password"
            type="password"
            autocomplete
            v-model.trim="password"
          />
        </div>
        <p class="invalid" v-if="!formIsValid">Formulaire invalide</p>
        <base-button>{{ submitButtonCaption }}</base-button>
        <base-button @click="switchMode" type="button" mode="flat">{{
          switchModeButtonCaption
        }}</base-button>
      </form>
    </base-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      formIsValid: true,
      mode: 'login',
      isLoading: false,
      error: null
    };
  },
  computed: {
    submitButtonCaption() {
      return this.mode === 'login' ? 'Login' : 'Signup';
    },
    switchModeButtonCaption() {
      return this.mode === 'login' ? 'Signup instead' : 'Login instead';
    }
  },
  methods: {
    async onLogin() {
      if (this.email === '' || this.password === '') {
        this.formIsValid = false;
        return;
      }
      this.isLoading = true;
      const user = { email: this.email, password: this.password };

      if (this.mode === 'login') {
        try {
          await this.$store.dispatch('login', user);
          
        } catch (error) {
          this.error = error;
        }
      } else {
        try {
          await this.$store.dispatch('signup', user);
          this.switchMode();
        } catch (error) {
          this.error = error;
        }
      }
      this.isLoading = false;
      const redirectUrl = '/' + (this.$route.query.redirect || 'coaches')
      this.$router.replace(redirectUrl);
    },
    switchMode() {
      this.mode = this.mode === 'login' ? 'signup' : 'login';
    },
    handlerError() {
      this.error = null;
    }
  }
};
</script>

<style scoped>
form {
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}
</style>
