<template>
  <section>
    <h2>{{ teamName }}</h2>
    <ul>
      <user-item
        v-for="member in members"
        :key="member.id"
        :name="member.fullName"
        :role="member.role"
      ></user-item>
    </ul>
    <router-link to="/teams/t2">to team 2</router-link>
  </section>
</template>

<script>
import UserItem from '../users/UserItem.vue';

export default {
  inject: ['users', 'teams'],
  props: ['teamId'],
  components: {
    UserItem
  },
  data() {
    return {
      teamName: '',
      members: []
    };
  },
  methods: {
    loadTeam() {
      console.log(this.$route.query);

      const teamId = this.teamId;
      const selectedTeam = this.teams.find(t => t.id === teamId);
      if (selectedTeam) {
        this.teamName = selectedTeam.name;
        this.loadTeamMembers(selectedTeam);
      } else {
        return;
      }
    },
    loadTeamMembers(selectedTeam) {
      const selectedMembers = selectedTeam?.members.map(m => {
        return this.users.find(u => u.id === m);
      });
      this.members = selectedMembers;
    }
  },
  created() {
    this.loadTeam();
  },
  beforeRouteUpdate(to, from, next) {
    console.log('TeamMembers : beforeRouteUpdate');
    console.log(to, from);
    this.loadTeam(to.params.teamId);
    next();
  },
  watch: {
    teamId() {
      this.loadTeam();
    }
  }
};
</script>

<style scoped>
section {
  margin: 2rem auto;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  border-radius: 12px;
}

h2 {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
