<template>
  <h1>{{ title }}</h1>
  <active-user :username="user.username" :age="user.age"></active-user>
  <user-data @valide="onValide"></user-data>
</template>

<script>
import ActiveUser from "./components/ActiveUser.vue";
import UserData from "./components/UserData.vue";
export default {
  components: { ActiveUser, UserData },
  data() {
    return {
      title: "Communication is the key",
      user: {username:'', age:0},
    };
  },
  methods: {
    onValide(usernameInput, ageInput) {
      this.user.username = usernameInput;
      this.user.age = ageInput;
    },
  },
};
</script>
