<template>
  <base-card>
    <h2>
      Find Your Coach
    </h2>
    <span class="filter-option" :class="isFrontendActive">
      <input type="checkbox" id="frontend" checked @change="setFilter" />
      <label for="frontend">FrontEnd</label>
    </span>

    <span class="filter-option" :class="isBackendActive">
      <input type="checkbox" id="backend" checked @change="setFilter" />
      <label for="backend">BackEnd</label>
    </span>

    <span class="filter-option" :class="isCareerActive">
      <input type="checkbox" id="career" checked @change="setFilter" />
      <label for="career">Career</label>
    </span>
  </base-card>
</template>

<script>
export default {
  emits: ['change-filter'],
  data() {
    return {
      filters: {
        frontend: true,
        backend: true,
        career: true
      }
    };
  },
  computed: {
    isFrontendActive() {
      return { active: this.filters.frontend };
    },
    isBackendActive() {
      return { active: this.filters.backend };
    },
    isCareerActive() {
      return { active: this.filters.career };
    }
  },
  methods: {
    setFilter(event) {
      const inputId = event.target.id;
      const isActive = event.target.checked;
      const updatedFilters = {
        ...this.filters,
        [inputId]: isActive
      };
      this.filters = updatedFilters;
      this.$emit('change-filter', updatedFilters);
    }
  }
};
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}
</style>
