<template>
  <transition-group tag="ul" name="user-list">
    <li v-for="user in users" :key="user">
      {{ user }}
      <button @click="removeUser(user)">X</button>
    </li>
  </transition-group>
  <div>
    <input @keydown.enter="addUser" ref="userInput" type="text" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: ['Mas', 'adz', 'sdqd', 'fsdf', 'eqfs']
    };
  },
  methods: {
    addUser() {
      this.users.unshift(this.$refs.userInput.value);
    },
    removeUser(user) {
      this.users = this.users.filter(u => u !== user);
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 1px;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.user-list-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.user-list-enter-active {
  transition: all 1s ease-out;
}

.user-list-enter-to {
  opacity: 1;
  transform: translateX(0);
}

.user-list-leave-from {
  opacity: 1;
  transform: translateX(0px);
}

.user-list-leave-active {
  transition: all 1s ease-in;
  position: absolute;
}

.user-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.user-list-move {
  transition: transform 0.8s ease;
}
</style>
