<template>
  <section class="container">
    <user-data :first-name="firstName" :last-name="lastName" :age="uAge"></user-data>
    <input type="text" placeholder="setfirstName" @input="setFirstName" />
    <input type="text" placeholder="firstName" v-model="firstName" />
    <input
      type="text"
      placeholder="setLastNameByEvent"
      @input="setLastNameByEvent"
    />
    <input type="text" placeholder="lastName" v-model="lastName" />
    <input
      type="text"
      placeholder="lastNameInput"
      ref="lastNameInput"
      @input="setLastName"
    />
  </section>
</template>

<script>
import { ref, reactive, toRefs, computed, watch, provide } from 'vue';
import UserData from './components/UserData.vue';

export default {
  components: { UserData },
  setup() {
    const uAge = ref(42);
    const user = reactive({
      name: 'aze',
      age: 43,
      obj: {
        obj: {
          data: [12, 12, 424, 35]
        }
      }
    });
    const firstName = ref('');
    const lastName = ref('');
    const lastNameInput = ref(null);
    setTimeout(() => {
      user.name = 'Greg';
      uAge.value = 1234;
    }, 3000);

    const userRefs = toRefs(user);

    function setFirstName(event) {
      firstName.value = event.target.value;
    }

    function setLastNameByEvent(event) {
      lastName.value = event.target.value;
    }

    function setLastName() {
      lastName.value = lastNameInput.value.value;
    }

    const fullName = computed(function() {
      return firstName.value + ' ' + lastName.value;
    });

    watch(uAge, function(newValue, oldValue) {
      console.log(newValue, oldValue);
    });

    watch([firstName, lastName], function(newValues, oldValues) {
      console.log(newValues, oldValues);
    });

    provide('userAge', uAge);

    return {
      user,
      userName: userRefs.name,
      uAge,
      data2: user.obj.obj.data[3],
      rdata3: userRefs.obj.value.obj.data[3],
      firstName,

      setFirstName,
      lastName,
      setLastNameByEvent,
      setLastName,
      lastNameInput,
      fullName
    };
  }
  // data() {
  //   return {
  //     userName: 'Maximilian',
  //   };
  // },
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
