<template>
  <button @click="increase({ value: 4 })">Add 4</button>
  <button @click="increment">Add increment</button>
  <button @click="addTo">AddTo</button>
  <button @click="addTo2({ value: 4 })">addTo2</button>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  methods: {
    ...mapActions('numbers',['increase', 'increment']),
    ...mapActions('numbers',{
      addTo2: 'increase'
    }),
    addTo() {
      // this.$store.commit('increase', {value:4});
      this.$store.dispatch({
        type: 'numbers/increase',
        value: 4
      });
    }
  }
};
</script>
