<template>
  <h3>Counter:{{ counter }}</h3>
  <h3>Normalized : {{ normalized }} {{ normalizedCounter }}</h3>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters('numbers', ['normalizedCounter']),
    counter() {
      return this.$store.getters["numbers/finalCounter"];
    },
    normalized() {
        // return this.$store.getters.normalizedCounter; <== sans namespace
      return this.$store.getters["numbers/normalizedCounter"];
    }
  }
};
</script>
