<template>
  <button v-if="!isLoggedIn" @click="login">Login</button>
  <button v-else @click="logout">Logout</button>

  counterXCrossStore: {{counterXCrossStore}}
</template>

<script>
import { mapActions } from 'vuex';
import { mapGetters } from 'vuex';
export default {
  methods: {
    ...mapActions('auth',['login', 'logout'])
  },
  computed: {
    ...mapGetters('auth', ['isLoggedIn', 'counterXCrossStore'])
  }
};
</script>
