<template>
  <router-view v-slot="slotProps">
    <transition name="page" mode='out-in' >
      <component :is="slotProps.Component"></component>
    </transition>
  </router-view>
  <div v-if="false">
    <div class="container">
      <div class="block" :class="{ animateClass: animatedBlock }"></div>
      <button @click="animateBlock">Animate</button>
    </div>
    <div class="container">
      <transition>
        <p v-if="paramIsVisible" message="test">This is ....</p>
      </transition>
      <transition name="v2">
        <p v-if="paramIsVisible" message="test">This is ....</p>
      </transition>

      <transition
        enter-to-class="v2-enter-to"
        enter-active-class="v2-enter-active"
        enter-from-class="v2-enter-from"
      >
        <p v-if="paramIsVisible" message="test">This is ....</p>
      </transition>

      <transition
        :css="false"
        @before-enter="beforeEnter"
        @before-leave="beforeLeave"
        @enter="enter"
        @leave="leave"
        @after-enter="afterEnter"
        @after-leave="afterLeave"
        @enter-cancelled="enterCancelled"
        @leave-cancelled="leaveCancelled"
      >
        <p v-if="paramIsVisible" message="test">Animation with programmation</p>
      </transition>
      <button @click="animateParam">animate</button>
    </div>

    <div class="container">
      <transition name="fade" mode="out-in">
        <button @click="showUser" v-if="!userIsVisible">Show User</button>
        <button @click="hideUser" v-else>Hide User</button>
      </transition>
    </div>

    <base-modal @close="hideDialog" :open="dialogIsVisible">
      <p>This is a test dialog!</p>
      <button @click="hideDialog">Close it!</button>
    </base-modal>
    <div class="container">
      <button @click="showDialog">Show Dialog</button>
    </div>

    <div class="container">
      <users-list></users-list>
    </div>
  </div>
</template>

<script>
import UsersList from './components/UsersList.vue';
export default {
  components: { UsersList },
  data() {
    return {
      paramIsVisible: false,
      animatedBlock: false,
      dialogIsVisible: false,
      userIsVisible: true,
      enterInterval: null,
      leaveInterval: null
    };
  },
  methods: {
    showDialog() {
      this.dialogIsVisible = true;
    },
    hideDialog() {
      this.dialogIsVisible = false;
    },
    animateBlock() {
      this.animatedBlock = !this.animatedBlock;
    },
    animateParam() {
      this.paramIsVisible = !this.paramIsVisible;
    },
    showUser() {
      this.userIsVisible = true;
    },
    hideUser() {
      this.userIsVisible = false;
    },
    beforeEnter(el) {
      console.log('beforeEnter', el);
      el.style.opacity = 0;
    },
    enter(el, done) {
      console.log('enter', el);
      let round = 1;
      this.enterInterval = setInterval(() => {
        el.style.opacity = round * 0.01;
        round++;
        if (round > 100) {
          clearInterval(this.enterInterval);
          done();
        }
      }, 20);
    },
    afterEnter(el) {
      console.log('afterEnter', el);
    },
    beforeLeave(el) {
      console.log('beforeLeave', el);
    },
    leave(el, done) {
      console.log('leave', el);
      let round = 100;
      this.leaveInterval = setInterval(() => {
        el.style.opacity = round * 0.01;
        round--;
        if (round == 0) {
          clearInterval(this.leaveInterval);
          done();
        }
      }, 20);
    },
    enterCancelled(el) {
      console.log('enterCancelled', el);
    },
    leaveCancelled(el) {
      console.log('leaveCancelled', el);
      clearInterval(this.enterInterval);
    },
    afterLeave(el) {
      console.log('afterLeave', el);
      clearInterval(this.leaveInterval);
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
button {
  font: inherit;
  padding: 0.5rem 2rem;
  border: 1px solid #810032;
  border-radius: 30px;
  background-color: #810032;
  color: white;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: #a80b48;
  border-color: #a80b48;
}
.block {
  width: 8rem;
  height: 8rem;
  background-color: #350c3f;
  margin-bottom: 2rem;
  /* transition: transform 0.5s ease-out */
}
.container {
  max-width: 40rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 12px;
}
.animateClass {
  /* transform: translateX(-150px); */
  animation: slide-scale 0.3s ease-out forwards;
}

.v-enter-from {
  opacity: 0;
  transform: translateY(-50px);
}
.v2-enter-from {
}

.v-enter-active {
  transition: all 0.5s ease-out;
}
.v2-enter-active {
  animation: slide-scale 0.3s ease-out;
}

.v-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.v2-enter-to {
}

.v-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.v2-leave-from {
}
.v-leave-active {
  transition: all 0.5s ease-in;
}
.v2-leave-active {
  animation: slide-scale 0.3s ease-out;
}

.v-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
.v2-leave-to {
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 3s ease-out;
}
.fade-leave-active {
  transition: opacity 0.3s ease-in;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
.page-enter-active {
  animation: slide-zoom 0.3s ease-out;
}
.page-leave-active {
  animation: slide-zoom 0.3s ease-in reverse;
}
.page-enter-to,
.page-leave-from {
  opacity: 1;
}

@keyframes slide-scale {
  0% {
    transform: translateX(0) scale(1);
  }

  70% {
    transform: translateX(-120px) scale(1.1);
  }

  100% {
    transform: translateX(-150px) scale(1);
  }
}

@keyframes slide-zoom {
  0% {
    transform: scale(0);
    
  }

  50% {
    transform: scale(0.5);
    
  }

  100% {
    transform:  scale(1);
    
  }
}
</style>
