<template>
  <div>
    <the-header></the-header>
    <!-- <badge-list></badge-list>
    <user-info :full-name="activeUser.name" :info-text="activeUser.description" :role="activeUser.role"></user-info>
    <course-goals>
      <template #default="slotProps">
        <h2>{{slotProps.item}}</h2>
        <h3>{{slotProps['itemSupp']}}</h3>
         <h3>{{slotProps['item']}}</h3>
      </template>
    </course-goals> -->

    <button @click="setSelectedComponent('active-goals')">ActiveGoals</button>
    <button @click="setSelectedComponent('manage-goals')">ManageGoals</button>
    <!-- <active-goals v-if="cmp === 'active-goals'"></active-goals>
    <manage-goals v-else-if="cmp === 'manage-goals'"></manage-goals> -->
    <keep-alive>
      <component :is="cmp"></component>
    </keep-alive>
  </div>
</template>

<script>
import TheHeader from "./components/layout/TheHeader.vue";
// import BadgeList from "./components/BadgeList.vue";
// import UserInfo from "./components/UserInfo.vue";
// import CourseGoals from "./components/CourseGoals.vue";

import ActiveGoals from "./components/goal/ActiveGoals.vue";
import ManageGoals from "./components/goal/ManageGoals.vue";

export default {
  components: {
    TheHeader: TheHeader,
    // BadgeList,
    // UserInfo,
    // CourseGoals
    ActiveGoals,
    ManageGoals,
  },
  data() {
    return {
      cmp: "",
      activeUser: {
        name: "Maximilian Schwarzmüller",
        description: "Site owner and admin",
        role: "admin",
      },
    };
  },
  methods: {
    setSelectedComponent(cmp) {
      this.cmp = cmp;
    },
  },
};
</script>

<style>
html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
</style>
