<template>
  <section>
    <base-card>
      <h2>Submitted Experiences</h2>
      <div>
        <base-button @click="loadData">Load Submitted Experiences</base-button>
      </div>
      <p v-if="isLoading">Loading ...</p>
      <p v-if='!isLoading && error'> {{error}} </p>
      <p v-else-if="!error && !isLoading && (!results || results.length === 0)">
        No data.
      </p>
      <ul v-else-if="!error && !isLoading && results && results.length > 0">
        <survey-result
          v-for="result in results"
          :key="result.id"
          :name="result.name"
          :rating="result.rating"
        ></survey-result>
      </ul>
      
    </base-card>
  </section>
</template>

<script>
import SurveyResult from './SurveyResult.vue';
import axios from 'axios';

export default {
  data() {
    return {
      isLoading: false,
      error : null,
      results: []
    };
  },
  components: {
    SurveyResult
  },
  methods: {
    loadData() {
      this.isLoading = true;
      this.error = null;
      axios
        .get(
          'https://vuejs-3f722-default-rtdb.europe-west1.firebasedatabase.app/surveys.json'
        )
        .then(response => {
          this.results = [];
          for (const id in response.data) {
            this.results.push({
              id: id,
              name: response.data[id].name,
              rating: response.data[id].rating
            });
          }
          this.isLoading = false;
        })
        .catch(err => {
          console.error(err);
          this.error = err.message;
          this.results = [];
          this.isLoading = false;
        });
    }
  },
  mounted() {
    this.loadData();
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
