<template>
  <div>
    <header>
      <slot name="header" v-if="$slots.header">
        HEADER DEFAULT
      </slot>
    </header>

    <slot v-for="n in numbers" :key="n" :data="n"></slot>
  </div>
</template>

<script>
export default {
  props: ["content"],
  data() {
    return { numbers: [1, 2, 3, 4, 5] };
  },
  mounted() {
    console.log(this.$slots.header);
  },
};
</script>

<style scoped>
div {
  margin: 2rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}
</style>
