<template>
  <div v-show="visible">
  <h2>Username : {{ username }}</h2>
  <h3>Age : {{ age }}</h3>
  </div>
</template>

<script>
export default {
  props: ["username", "age"],
  data() {
    return {};
  },
  computed: {
    visible() {
      return this.username && this.age
    }
  }
};
</script>
