<template>
  <form @submit.prevent="$emit('valide', this.username, this.age)">
    <div>
      <label>Username</label>
      <input v-model="username" />
    </div>
    <div>
      <label>Age</label>
      <input v-model="age" />
    </div>
    <button>Valide</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      age: 20,
    };
  },
  emits:['valide']
};
</script>
