<template>
  <ul>
    <li v-for="goal in goals" :key="goal">
        <slot :item='goal' :item-supp="goal"></slot>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      goals: ["finish this course", "Learn VueJs"],
    };
  },
};
</script>
