<template>
  <h2>Manage Goals</h2>
  <input type="text" ref="goal" />
  <button @click="setGoal">Set Goald</button>
  {{ inputInvalid }}

    <base-card>
      <template #header>HEADER</template>
      <template #default="slotProps"> => {{ slotProps.data }}</template>
    </base-card>

  <teleport to="body">
    <error-alert v-if="inputInvalid">
      <template #default>
        <h2>Error</h2>
        input nulll
        <button @click="closeError">X</button>
      </template>
    </error-alert>
  </teleport>
</template>

<script>
import ErrorAlert from "../dialog/ErrorAlert.vue";

export default {
  components: {
    ErrorAlert,
  },
  data() {
    return {
      inputInvalid: false,
      numbers: [1, 2, 3, 4, 5],
    };
  },
  methods: {
    setGoal() {
      console.log("setGoald");
      console.dir(this.$refs.goal);
      const enteredValue = this.$refs.goal.value;
      console.log(enteredValue);
      if (enteredValue === "") {
        console.log("setGoald");
        this.inputInvalid = true;
      }
    },
    closeError() {
      this.inputInvalid = false;
    },
  },
};
</script>
