<template>
  <section>
    <h2>{{ selectedProduct.title }}</h2>
    <h3>${{ selectedProduct.price }}</h3>
    <p>{{ selectedProduct.description }}</p>
  </section>
  <router-link to="/products/p2">P2</router-link>
  <button>Go</button>
</template>

<script>
import { inject, computed } from 'vue';
import { useRoute } from 'vue-router';

export default {
  props: ['pid'],
  setup(props) {
    const products = inject('products');

    const route = useRoute();
    console.log(route);

    console.log('pid', props.pid);

    const selectedProduct = computed(function() {
      return products.value.find(p => p.id === route.params.pid);
    });
    return { selectedProduct };
  }
};
</script>

<style scoped>
section {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
</style>
