<template>
  <section>
    <h2>Select a Topic</h2>
    <knowledge-grid></knowledge-grid>
  </section>
</template>

<script>
export default {
  // inject: ['topics'],
  emits: ['select-topic'],
};
</script>