<template>
  <h2>{{ fullName }}</h2>
  <h3>{{ age }} / {{ userAge }}</h3>
</template>

<script>
import {
  computed,
  inject,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted
} from 'vue';

export default {
  props: ['first-name', 'last-name', 'age'],
  setup(props, context) {
    console.log(context);
    const fullName = computed(function() {
      return props.firstName + ' ' + props.lastName;
    });

    const userAge = inject('userAge');

    onBeforeMount(() => {
      console.log('onBeforeMount');
    });
    onMounted(() => {
      console.log('onMounted');
    });
    onBeforeUpdate(() => {
      console.log('onBeforeUpdate');
    });
    onUpdated(() => {
      console.log('onUpdated');
    });
    onBeforeUnmount(() => {
      console.log('onBeforeUnmount');
    });
    onUnmounted(() => {
      console.log('onUnmounted');
    });

    return { fullName, userAge };
  }
};
</script>
