<template>
  <div>
    <base-dialog :show="!!error" @close="error = null" title="Error....">
      <p>{{ error }}</p>
    </base-dialog>
    <base-card>
      <form @submit.prevent="onSubmitForm">
        <div class="form-control">
          <label for="email">Your Email</label>
          <input type="email" name="email" v-model.trim="email" />
        </div>
        <div class="form-control">
          <label for="message">Your Email</label>
          <textarea rows="5" name="message" v-model.trim="message"></textarea>
        </div>
        <p v-if="!isFormIsValid" class="errors">Errors detected in your Form</p>
        <base-button>Send</base-button>
      </form>
    </base-card>
  </div>
</template>

<script>
export default {
  props: ['id'],
  data() {
    return {
      email: '',
      error: null,
      message: '',
      isFormIsValid: true
    };
  },
  methods: {
    validateForm() {
      this.isFormIsValid = true;
      if (!this.email || !this.message) {
        this.isFormIsValid = false;
      }
    },
    async onSubmitForm() {
      this.validateForm();
      if (!this.isFormIsValid) {
        return;
      }

      const request = {
        email: this.email,
        message: this.message,
        coachId: this.id // this.$route.params.id
      };
      try {
        await this.$store.dispatch('requests/contactCoach', request);
        this.$router.replace('/requests');
      } catch (error) {
        this.error = error;
      }
    }
  }
};
</script>

<style scoped>
form {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}
</style>
