<template>
  <div>
    <base-dialog :show="!!error" @close="error = null" title="Error....">
      <p>{{ error }}</p>
    </base-dialog>

    <section>
      <base-card>
        <h2>Requests Received</h2>
        <base-spinner v-if="isLoading"></base-spinner>
        <ul v-else-if="hasRequests">
          <request-item
            v-for="request in receivedRequests"
            :key="request.id"
            :message="request.message"
            :email="request.userEmail"
          ></request-item>
        </ul>
        <h3 v-else>Not request received yet!</h3>
      </base-card>
    </section>
  </div>
</template>

<script>
import RequestItem from './../../components/requests/RequestItem.vue';

export default {
  components: { RequestItem },
  computed: {
    hasRequests() {
      return this.$store.getters['requests/hasRequests'];
    },
    receivedRequests() {
      return this.$store.getters['requests/requests'];
    }
  },
  data() {
    return {
      isLoading: false,
      error: null
    };
  },
  methods: {
    async loadRequests() {
      this.isLoading = true;
      try {
        await this.$store.dispatch('requests/loadRequests');
      } catch (error) {
        this.error = error;
      }
      this.isLoading = false;
    }
  },
  created() {
    this.loadRequests();
  }
};
</script>

<style scoped>
header {
  text-align: center;
}

ul {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  max-width: 30rem;
}

h3 {
  text-align: center;
}
</style>
